<h1>Chat Room - Action Cable Experiment (Rails 5)</h1>

<h2>Ruby: <%= RUBY_VERSION %> (<%= RUBY_PLATFORM %>)&nbsp;&nbsp;Rails: <%= Rails.version %></h2>

<div id="messages">
  <p><%= render @messages %></p>
</div>

<form>
  <label>Type your message here:</label><br/>
  <input type="text" data-behavior="room_speaker" />
</form>
