<h1>Chat Room - Action Cable Experiment (Rails 5)</h1>

<div class="message">
  <p><%= render @messages %></p>
</div>

<form>
  <label>Say something:</label><br/>
  <input type="text" data-behavior="room_speaker" />
</form>


<p>Find me in app/views/rooms/show.html.erb</p>
