<h1>Chat Room - Action Cable Experiment (Rails 5)</h1>

<h2>
  <strong>Rails version:</strong> <%= Rails.version %><br />
  <strong>Ruby version:</strong> <%= RUBY_VERSION %> (<%= RUBY_PLATFORM %>)
</h2>

<div id="messages">
  <p><%= render @messages %></p>
</div>

<form>
  <label>Say something:</label><br/>
  <input type="text" data-behavior="room_speaker" />
</form>


<p>Find me in app/views/rooms/show.html.erb</p>
