<h1>Chat Room - Action Cable Experiment (Rails 5)</h1>
<h2>Ruby 2.3.0, Rails 5.0.0.beta3</h2>

<div id="messages">
  <p><%= render @messages %></p>
</div>

<form>
  <label>Say something:</label><br/>
  <input type="text" data-behavior="room_speaker" />
</form>


<p>Find me in app/views/rooms/show.html.erb</p>
